<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allblogs.css">
    <title>Blogs</title>
</head>
<body>
    {{>Nav}}
    <h1>All Blogs {{#if userName}}for {{userName}}{{/if}}</h1>

    <div class="individual-blogs-container">
        {{#each blogs}}
            <div class="individual-blog">
                <a href="">{{this.title}}</a>
            </div>
        {{/each}}
    </div>
    
    {{#if noId}}
        <p>No user with id {{id}} found.</p>
    {{/if}}

    <div class="bottom-element-container">
    {{#if userName}} 
       <a class="back-to-profile" href="/profile/{{id}}">Back to {{userName}}'s profile</a>
    {{/if}}
     
        <form class="toggle" action="/allblogs/{{this.id}}" method="POST">
                <button type="submit">Latest</button>
        </form>
       
    </div>

</body>
</html>