<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allblogs.css">
    <title>Blogs</title>
</head>
<body>
    {{>Nav}}
 <div class="top-element-container">
    <h1>All Blogs {{#if userName}}for {{userName}}{{/if}}</h1>
    
    {{#if noId}}
        <p>No user with id {{id}} found.</p>
    {{/if}}

    
    {{#if userName}} 
       <a class="back-to-profile" href="/profile/{{id}}">Profile</a>

        <form class="toggle" action="/allblogs/{{id}}" method="POST">
            <input type="hidden" name="userName" value="{{userName}}">
            <input type="hidden" name="ascending" value="{{ascending}}">
            <button class="ascending" type="submit">{{#if ascending}}Latest{{else}}Earliest{{/if}}</button>
        </form>

    {{else}}

        <form class="toggle" action="/allblogs" method="POST">
                <input type="hidden" name="ascending" value="{{ascending}}">
                <button class="ascending" type="submit">{{#if ascending}}Latest{{else}}Earliest{{/if}}</button>
        </form>
   
        <h4 class="keyword-heading">Search by title keyword</h4>
         <form class="keyword" action="/blogs" method="GET
         ">
            <input  type="text" name="keyword">
            <button class="find-by-keyword" type="submit">Find</button>
        </form>

          <h4 class="author-heading">Search by author surname OR first name</h4>
         <form class="author" action="/blogs" method="GET
         ">
            <input  type="text" name="author">
            <button class="find-by-author" type="submit">Find</button>
        </form>

     {{/if}}
    </div>

     <div class="individual-blogs-container">
        {{#each blogs}}
            <div class="individual-blog">
                <a href="/blog/{{this.id}}">{{this.title}}</a>
            </div>
        {{/each}}
    </div>

    {{#if userName}} 
         {{>footer  userId=id firstname=userName}}
    {{/if}} 

</body>
</html>