<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allblogs.css">
    <title>Blogs</title>
</head>
<body>
    {{>Nav}}
    <h1>All Blogs {{#if userName}}for {{userName}}{{/if}}</h1>

    <div class="individual-blogs-container">
        {{#each blogs}}
            <div class="individual-blog">
                <a href="/blog/{{this.id}}">{{this.title}}</a>
            </div>
        {{/each}}
    </div>
    
    {{#if noId}}
        <p>No user with id {{id}} found.</p>
    {{/if}}

    <div class="bottom-element-container">
    {{#if userName}} 
       <a class="back-to-profile" href="/profile/{{id}}">Profile</a>

        <form class="toggle" action="/allblogs/{{id}}" method="POST">
            <input type="hidden" name="userName" value="{{userName}}">
            <input type="hidden" name="ascending" value="{{ascending}}">
            <button class="ascending" type="submit">{{#if ascending}}Latest{{else}}Earliest{{/if}}</button>
        </form>

    {{else}}

        <form class="toggle" action="/allblogs" method="POST">
                {{!-- <input type="hidden" name="userName" value="{{userName}}"> --}}
                <input type="hidden" name="ascending" value="{{ascending}}">
                <button class="ascending" type="submit">{{#if ascending}}Latest{{else}}Earliest{{/if}}</button>
        </form>

     {{/if}}
    </div>
</body>
</html>