<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/allUsers.css">
    <title>All Users</title>
</head>
<body>
     {{>Nav}}
    <h1>All users</h1>
    <div class="users">
        {{#each users}}
            <div class="user">
                <table>
                    <tr>
                        <td>name:</td>
                        <td>{{this.first_name}} {{this.surname}}</td>
                    </tr>
                    <tr>
                        <td>email:</td>
                        <td>{{this.email}}</td>
                    </tr>
                    <tr>
                        <td>id:</td>
                        <td>{{this.id}}</td>
                    </tr>
                </table>

                <form class="update" action="/update/{{this.id}}" method="GET">
                        <button type="submit">Update</button>
                </form>

                <form class="delete" action="/delete/{{this.id}}" method="POST">
                    <input class="user-to-delete" type="hidden" name="userName" value="{{this.first_name}} {{this.surname}}">
                    <button type="submit">Delete</button>
                </form>

                <form class="profile" action="/profile/{{this.id}}" method="GET">
                    <button type="submit">Profile</button>
                </form>
            </div>
        {{/each}}
    </div>
</body>
</html>