<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/blog.css">
    <title>Blog</title>
</head>
<body>
    {{>Nav}}
    <h1>{{title}}</h1>
    <div class="blog-subheadings"></div>
        <h3 class="blog-author">{{firstName}} {{surname}}</h3>
        <h4 class="individual-blog-date">{{date}}</h4>
    </div>

    <p class="blog-body">{{blog}}</p>

    {{>footer  userId=userId firstname=firstName surname=surname}}
    
</body>
</html>