<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/delete.css">
    <title>Delete User</title>
</head>
<body>
    {{>Nav}}
    <h1>Delete User</h1>
    {{#if deletedName}}
    <p>User {{deletedName}} with id {{deletedUserId}} has been deleted</p>
    {{/if}}

    {{#if alreadyDeleted}}
         <p>User {{userName}} with id {{id}} has already been deleted.</p>
    {{/if}}

    {{#if existingBlogs}}

        <p>Cannot delete {{userName}} with id {{id}} without deleting {{userName}}'s blogs first.</p>

        <form action="/deleteblogs/{{id}}" method="POST">
             <input type="hidden" name="userName" value='{{userName}}'>
            <button class="delete-blogs-link" type="submit">Delete Blogs</button>
        </form>
    {{/if}}
</body>
</html>