<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="/css/newblog.css">

    <title>New Blog</title>
</head>
<body>
    {{>Nav}}
    <h1>Create new blog for user {{userName}}</h1>

    {{#if noId}}
        <p class="no-id-blog">Unable to upload a blog: no user with id {{id}} found in the database.</p>

    {{else}}
          <form class="generate-blog" action="/newblog/{{id}}" method="POST">
        <label for="title">title</label>
        <input class="title" type="text" name="title"><br>
        <label for="blog">blog</label>
        <textarea rows="10" cols="35" name="blog"></textarea><br>
        <input type="hidden" name="userName" value='{{userName}}'>
        <br>
        <button type="submit">Create</button>
        </form>

    {{/if}}
    
    {{#if submitted}}
        <p>New blog {{title}} by {{userName}} uploaded to the users database.</p>
    {{/if}}

    <a class="back-to-profile" href="/profile/{{id}}">Profile</a>

</body>
</html>