<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/update.css">
    <title>Update User</title>
</head>
<body>
    {{>Nav}}
    <h1>Update User</h1>
   
   {{#if toUpdate}}
    <form class="update" action="/update/{{id}}" method="POST">
        <label for="first_name" >first name</label>
        <input required type="text" name="first_name" value={{first_name}}><br>
        <label for="surname">surname</label>
        <input required type="text" name="surname" value={{surname}}><br>
        <label for="email">email</label>
        <input required type="text" name="email" value={{email}}><br>
        <label type="text" name="password">password</label>
        <input required type="password" name="password" value={{password}}>
        <button type="submit">Update</button>
    </form>

    {{/if}}


    {{#if updated}}
        <p>User {{first_name}} {{surname}} has been updated.</p>


        {{else if notFound}}
        <p> User number {{notFound}} not found.</p>
    

            {{else if notUpdated}}
                <p>Unable to update {{first_name}} {{surname}} with user number {{notUpdated}}.</p>
            
    {{/if}}

     {{#if existingEmail}}
        <p>The email {{existingEmail}} already exists in the database.  Please check the list of users in case you are registered twice.</p>
    {{/if}}

    {{>footer  userId=id firstname=first_name surname=surname}}
</body>
</html>