<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
</head>
<body>
    <h1>Update User</h1>
    <form action="/update/{{id}}" method="POST">
        <label for="first_name" >first name</label>
        <input type="text" name="first_name" placeholder={{first_name}}><br>
        <label for="surname">surname</label>
        <input type="text" name="surname" placeholder={{surname}}><br>
        <label for="email">email</label>
        <input type="text" name="email" placeholder={{email}}><br>
        <label type="text" name="password">password</label>
        <input type="text" name="password" placeholder={{password}}>
        <br>
        <button type="submit">Update User</button>
    </form>

    {{#if updatedName}}
    <p>User {{updatedName}} {{updatedSurname}} has been updated.</p>
    {{/if}}
</body>
</html>